li.todo-item {
  display: flex;
  justify-content: space-between;
  width: 500px;
  background-color: #ffe1cc;
}

li.todo-item:nth-child(even) {
  background-color: #fcf0ed;
}

button.action {
  color: #d62000;
  font-size: 20px;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

button.edit {
  color: blue;
}

input.edit-input {
  display: none;
}
